@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .absolute-y-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .section-container {
    @apply rounded-md bg-white p-7 shadow-4;
  }
}
